body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace; /* Fuente digital */
    background-color: #121212; /* Negro oscuro */
    color: #fff; /* Blanco */
}

.reloj {
    font-size: 10rem;
}